extends layout

- var user_level = 0

block content
  h1= "Skills List"
  p User level: #{user_level}
      - var i = 0
  each skill, skill_name in skills
    p Current Skills: #{skills.length} 
    div.skill(id="#{skill_name.replace(/\s+/g, '')}")
      p.skill-name #{skill_name}
      p.levels (#{skill.current_level} of #{skill['levels'].length})
      table.plusminus
        thead
        tbody
          tr
            td.disable
              a(href='#{skill.disable_url}')
                img(src='/images/red_x.png')
            td.minus
              a(href='#{skill.minus_url}') -
            td.plus
              a(href='#{skill.plus_url}') +
  pre #{upgrades}
