extends layout

- var user_level = 0

block content
  h1= "Skills List"
  p User level: #{user_level}
  - each val,key in skills
    
    h2 #{key} (#{skills[key].current_level} of #{skills[key]['levels'].length})

    - var ctl = skills[key]['levels'][skills[key].current_level]
    - ctl = ctl || skills[key]['levels'][skills[key]['levels'].length-1]
    - ctl = parseInt(ctl) + user_level * 10
    p Cost this level: #{skills[key].cost_this_level}
    a(href='#{skills[key].minus_url}') Minus
    a(href='#{skills[key]["plus_url"]}') Plus
