extends layout

- var user_level = 0

block content
  h1= "Rogue Legacy Skill Purchase Calculator With A Long Name"
  h2.user-level User level: #{user_level}
  table
    tr
      h2 Gold: #{gold}
      input(id="gold", onkeyup='if (event.keyCode == 13) document.getElementById("go").click(); else document.getElementById("go").href = "#{base_url}" + document.getElementById("gold").value')
  a(id="go" href='#{base_url+gold}#u') What can I buy with this?
  each skill, skill_name in skills
    div.skill(id="#{skill_name.replace(/\s+/g, '')}")
      p.skill-name #{skill_name}
      p.levels (#{skill.current_level} of #{skill['levels'].length})
      table.plusminus
        thead
        tbody
          tr
            td.disable
              a(href='#{skill.disable_url}')
                - if(skill.enabled) {
                  img(src='/images/green_check_small.jpg')
                - } else {
                  img(src='/images/red_x_small.jpg')
                - }
            td.minus
              a(href='#{skill.minus_url}')
                img(src='/images/red_minus_small.jpg')
            td.plus
              a(href='#{skill.plus_url}')
                img(src='/images/green_plus_small.jpg')
  a#u(name="u")
  pre#upgrades #{upgrades}
