extends layout

- var user_level = 0

block content
  h1= "Skills List"
  p User level: #{user_level}
  // - each val,key in skills
  table
    thead
      td Current Skills: #{skills.length} 
    tbody
      - var i = 0
      each skill, skill_name in skills
        - if (i % 6 == 0) {
        tr
        - }
        - i++
          td.skill
            h3 #{skill_name}
            h4 (#{skill.current_level} of #{skill['levels'].length})
            table.plusminus
              thead
              tbody
                tr
                  td
                    a(href='#{skill.minus_url}') Minus
                  td
                    a(href='#{skill["plus_url"]}') Plus
  pre #{upgrades}
